@import url(../utils/colors.css);
.bouncing-title-container {
    font-size: 7rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; 
    width: 60vh;
    color: var(--black);
    position: relative;
    margin: auto; 
    margin-top: 10vh; 

    /* Gradient background */
    background: radial-gradient(
        circle,
        #77d577, /* Green center */
        #87ceeb, /* Sky blue transition */
        #0a15dd 
    );

    /* Circle shape */
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

