.chart-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.chart-title {
    font-size: 1.5rem;
    color: var(--dark-gray);
    margin-bottom: 1rem;
}

.time-range-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.time-range-buttons button {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-range-buttons button:hover {
    background-color: #0660c2;
}

.time-range-buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--blue);
}

.time-range-buttons button.active {
    background-color: var(--text-hover);
    color: var(--dark-gray);
}

.chart-wrapper {
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}