:root{
    --headerfooterbckg : #FFFFFF;
    --blue : #051a67;
    --green: rgba(10, 110, 45, 0.845);
    --green2:rgba(5, 89, 32, 0.968);
    --text : #171717;
    --text-hover : #333;
    --black: #171717;
    --darkergray:#454545;
    --grey: #9f9f9f;
    --grey2: #DDD;
    --white: #ffffff;
    --placeholder: #999;
    --greybckg: #F0F0F0;
    --dark-gray: #555555;
    --background-light: #ffffff;
    --background: #dff0f6;
    --backgroundFlashcard: #c5e2f3;
    --text-primary: #333333;
    --text-secondary: #777777;
    --light-grey: #e0e0e0;


}